

 #image-container img {
     width: 100%;
     overflow: hidden;
 }

 #egg_svg {
     position: absolute;
     left: 50%;
     transform: translate(-50%, -50%);
     top: 50%;
     width: 62%;
     z-index: 99;
 }

 #orange_egg_svg{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 62%;
  z-index: 99;
 }

 .fading-string {
     font-size: 32px;
     transition: all 2s ease;
     opacity: 1;
     position: absolute;
 }

 @keyframes rainbow {
    0% {
      background-position: 0% 100%;
      
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .rainbow-background {
    background: linear-gradient(
      to top,
      rgba(255, 0, 0, 0.6) 0%,
      rgba(255, 87, 34, 0.6) 4%,
      rgba(255, 165, 0, 0.6) 8%,
      rgba(205, 220, 57, 0.6) 12%,
      rgba(139, 195, 74, 0.6) 16%,
      rgba(0, 128, 0, 0.6) 20%,
      rgba(0, 151, 167, 0.6) 24%,
      rgba(0, 188, 212, 0.6) 28%,
      rgba(0, 0, 255, 0.6) 32%,
      rgba(103, 58, 183, 0.6) 36%,
      rgba(156, 39, 176, 0.6) 40%,
      rgba(233, 30, 99, 0.6) 44%,
      rgba(244, 67, 54, 0.6) 48%,
      rgba(255, 87, 34, 0.6) 52%,
      rgba(255, 152, 0, 0.6) 56%,
      rgba(205, 220, 57, 0.6) 60%,
      rgba(76, 175, 80, 0.6) 64%,
      rgba(0, 150, 136, 0.6) 68%,
      rgba(0, 188, 212, 0.6) 72%,
      rgba(63, 81, 181, 0.6) 76%,
      rgba(103, 58, 183, 0.6) 80%,
      rgba(156, 39, 176, 0.6) 84%,
      rgba(233, 30, 99, 0.6) 88%,
      rgba(244, 67, 54, 0.6) 92%,
      rgba(255, 87, 34, 0.6) 96%,
      rgba(255, 0, 0, 0.6) 100%
    );
    background-size: 100% 200%;
    animation: rainbow 15s infinite linear;
  
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .orange-background {
    animation: orangeFade 1s infinite alternate;
}

@keyframes orangeFade {
    0% { background-color: transparent; }
    50% { background-color: rgba(191, 125, 1, 0.6); }
    100% { background-color: transparent; }
}
