.31_1438 { 
	overflow: hidden;
}
.e31_1438 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
}
.e31_1439 { 
	width:390px;
	height:844px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei31_1439_21_677 { 
	background-image:linear-gradient(0deg, rgba(198.00000339746475, 195.0000035762787, 204.00000303983688, 1) 0%,rgba(197.0000034570694, 194.00000363588333, 203.00000309944153, 1) 23.95833283662796%,rgba(190.0000038743019, 187.00000405311584, 198.00000339746475, 0) 100%) ;
	width:390px;
	height:844px;
	position:absolute;
	left:0px;
	top:0px;
}
.i31_1439_21_677 { 
	border:0px solid rgba(0, 0, 0, 1);
}
.e31_1440 { 
	color:rgba(0, 0, 0, 1);
	width:283px;
	height:80px;
	position:absolute;
	left:54px;
	top:68px;
	font-family:Plus Jakarta Sans;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e111_2835 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:110px;
	height:89px;
	position:absolute;
	left:64px;
	top:158px;
	border-radius:Symbol(figma.mixed)px;
}
.111_2835 { 
	border:0px solid rgba(242.00000077486038, 243.00000071525574, 248.0000004172325, 1);
}
.e111_2836 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:110px;
	height:89px;
	position:absolute;
	left:218px;
	top:158px;
	border-radius:Symbol(figma.mixed)px;
}
.111_2836 { 
	border:0px solid rgba(242.00000077486038, 243.00000071525574, 248.0000004172325, 1);
}
.e111_2837 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:110px;
	height:89px;
	position:absolute;
	left:215px;
	top:265px;
	border-radius:Symbol(figma.mixed)px;
}
.111_2837 { 
	border:0px solid rgba(242.00000077486038, 243.00000071525574, 248.0000004172325, 1);
}
.e111_2838 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:110px;
	height:89px;
	position:absolute;
	left:64px;
	top:265px;
	border-radius:Symbol(figma.mixed)px;
}
.111_2838 { 
	border:0px solid rgba(242.00000077486038, 243.00000071525574, 248.0000004172325, 1);
}
.e31_1442 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:78px;
	position:absolute;
	left:67px;
	top:169px;
	font-family:Plus Jakarta Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e31_1446 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:78px;
	position:absolute;
	left:218px;
	top:270px;
	font-family:Plus Jakarta Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e31_1445 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:78px;
	position:absolute;
	left:221px;
	top:169px;
	font-family:Plus Jakarta Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e31_1447 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:78px;
	position:absolute;
	left:67px;
	top:270px;
	font-family:Plus Jakarta Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e111_2833 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 1);
	width:350px;
	height:416px;
	position:absolute;
	left:21px;
	top:391px;
	border-radius:Symbol(figma.mixed)px;
}
.111_2833 { 
	border:0px solid rgba(242.00000077486038, 243.00000071525574, 248.0000004172325, 1);
}
.e31_1448 { 
	color:rgba(255, 255, 255, 1);
	width:325px;
	height:285px;
	position:absolute;
	left:33px;
	top:428px;
	font-family:Plus Jakarta Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
