:root {
    --main-black: rgba(30,33,42, 0.8);
    --dark-black: rgba(0,0,0, 0.99);
  }  


  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(190,187,193,255);
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  #app {
    height: 100vh;
  }
  
  #upper {
    position: relative;
    background-color: rgba(190,187,193,255);
    height: 50vh;
    overflow: show;
  }
  
  #lower {
    position: absolute;
    background-color: rgb(72,76,84);
    border-radius: 14px 14px 0px 0px;
    flex-grow: 1;
    overflow: auto;
    height: 50vh;
    top: 50vh;
    overflow: none;
  }

.black {
    background-color: var(--dark-black);
    border: 1px solid var(--dark-black);
    border-radius: 5px;
}

#user-widget{
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 22px;
  padding: 8px;
  background-color: rgb(32,36,44, 1);
  border-radius: 8px;
}

#developer-mode {
    z-index: 1;
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 24px;
    padding: 8px;
    display: none;
}



/* Upper Section */
.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* For 16:9 aspect ratio (you can change this to match your image's aspect ratio) */
    overflow: hidden;
    z-index: 0;
  }


  .before-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: transparent;
    z-index: 3;
    cursor: ew-resize;
  }

  


/* Lower Section */
#question {
  padding: 10px 30px;
  margin: auto;
  background-color: rgb(64,60,76);
  font-weight: 100;
  font-size: 22px;
}

#choices {
  width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.choice-container {
  flex-basis: calc(50% - 12px); /* Considering 12px as the gap between items */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  position: relative;
}

.choice {
  flex: 1;
  display: flex;  /* Add this */
  justify-content: center;  /* Add this */
  align-items: center;  /* Add this */
  padding: 12px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: rgb(32,36,44, 1);
  border: 1px solid rgba(32,46,44, 1);
  border-radius: 8px;
  cursor: pointer;
}




.icon {
    cursor: pointer;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 50px
}

#footer-container {
  width: 100%;
  position: relative;
}

#mic {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 20px; 
}

#upgrade{
  position: absolute;
  width: 32px;
  height: 32px;
  right: 20px; 
}

