{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>WHUAT!</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <style>
    .after-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: url("{% static 'images/after.png' %}") no-repeat;
      background-size: cover;
      z-index: 2;
    }
  </style>
</head>

<body>
  <div id="app">

    <div id="upper">
      <div class="image-container">
        <img src="{% static 'images/before.png' %}" class="before-img" alt="Before">
        <div class="after-img"></div>
        <div class="slider" id="slider"></div>
      </div>

      <!-- This needs to be taken out afterwards and replaced with a value that gets updated every few seconds -->
      <div>
        <div id="developer-mode">
          <p>Developer mode:</p>
          <label for="percentage">Health:</label>
          <input type="number" id="percentage" min="0" max="100" step="1" value="0">

        </div>
        <div id="user-widget" class="">
          Users:
          <span id="active-users">{{ active_users_count }}</span>
        </div>
      </div>
    </div>

    <div id="lower">
      <!-- <h3> {{ user_greeting }} {{ username }} </h3> -->
      <h2 id="question"></h2>

      <div id="choices">
        <div class="choice-container">
          <div class="choice" id="choice1">

          </div>
        </div>
        <div class="choice-container">
          <div class="choice" id="choice2">

          </div>
        </div>
        <div class="choice-container">
          <div class="choice" id="choice3">

          </div>
        </div>
        <div class="choice-container">
          <div class="choice" id="choice4">

          </div>
        </div>

      </div>

      <div id="footer">
        <img class="icon" id="mic" src="{% static 'images/microphone.svg' %}"
          alt="microphone icon for accessibility so you can use text to speech">

        <img class="icon" id="upgrade" src="{% static 'images/upgrade.svg' %}"
          alt="microphone icon for accessibility so you can use text to speech">

      </div>


    </div>
    <script>
      const CSRF_TOKEN = "{{ csrf_token }}"
    </script>
    <script src="{% static 'scripts/egg_health.js' %}"></script>
    <script src="{% static 'scripts/fetch_question.js' %}"></script>

</body>

</html>