<div style="width: 390px; height: 844px; position: relative; background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%)">
  <div style="width: 390px; height: 844px; left: 0px; top: 0px; position: absolute">
    <div style="width: 390px; height: 844px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #C6C3CC 0%, #C5C2CB 24%, rgba(190, 187, 198, 0) 100%); border: 1px black solid"></div>
  </div>
  <img style="width: 207px; height: 207px; left: 92px; top: 97px; position: absolute; border-radius: 9999px; border: 8px white solid" src="https://via.placeholder.com/207x207" />
  <div style="width: 33px; height: 33px; left: 337px; top: 33px; position: absolute; background: white"></div>
  <div style="width: 81px; height: 78px; left: 54px; top: 321px; position: absolute; text-align: center"><span style="color: black; font-size: 40px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">177<br/></span><span style="color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">answers</span></div>
  <div style="width: 81px; height: 78px; left: 155px; top: 321px; position: absolute; text-align: center"><span style="color: black; font-size: 40px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">581<br/></span><span style="color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">followers</span></div>
  <div style="width: 81px; height: 78px; left: 256px; top: 321px; position: absolute; text-align: center"><span style="color: black; font-size: 40px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">37<br/></span><span style="color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">following</span></div>
  <div style="width: 121px; height: 26px; left: 135px; top: 427px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Interests</div>
  <div style="width: 141px; height: 25px; left: 54px; top: 546px; position: absolute; color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Business</div>
  <div style="width: 141px; height: 25px; left: 54px; top: 613px; position: absolute; color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Healthy choices</div>
  <div style="width: 141px; height: 25px; left: 54px; top: 680px; position: absolute; color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Next generations</div>
  <div style="width: 141px; height: 25px; left: 54px; top: 747px; position: absolute; color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Global challenges</div>
  <div style="width: 141px; height: 25px; left: 54px; top: 479px; position: absolute; color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word">Climate change</div>
  <div style="width: 283px; height: 25px; left: 54px; top: 513px; position: absolute">
    <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute">
      <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute; background: #737373"></div>
    </div>
    <div style="width: 256px; height: 25px; left: 0px; top: 0px; position: absolute; background: #3D3936"></div>
  </div>
  <div style="width: 283px; height: 25px; left: 54px; top: 709px; position: absolute">
    <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute">
      <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute; background: #737373"></div>
    </div>
    <div style="width: 256px; height: 25px; left: 0px; top: 0px; position: absolute; background: #3D3936"></div>
  </div>
  <div style="width: 283px; height: 25px; left: 54px; top: 776px; position: absolute">
    <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute">
      <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute; background: #737373"></div>
    </div>
    <div style="width: 256px; height: 25px; left: 0px; top: 0px; position: absolute; background: #3D3936"></div>
  </div>
  <div style="width: 283px; height: 25px; left: 54px; top: 579px; position: absolute">
    <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute">
      <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute; background: #737373"></div>
    </div>
    <div style="width: 225px; height: 25px; left: 0px; top: 0px; position: absolute; background: #3D3936"></div>
  </div>
  <div style="width: 283px; height: 25px; left: 54px; top: 646px; position: absolute">
    <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute">
      <div style="width: 283px; height: 25px; left: 0px; top: 0px; position: absolute; background: #737373"></div>
    </div>
    <div style="width: 196px; height: 25px; left: 0px; top: 0px; position: absolute; background: #3D3936"></div>
  </div>
  <div style="width: 59px; height: 74px; left: 33px; top: 29px; position: absolute">
    <div style="width: 59px; height: 74px; left: 0px; top: 0px; position: absolute; border: 11.68px black solid"></div>
    <div style="width: 9.22px; height: 40.70px; left: 20.28px; top: 5.55px; position: absolute; border: 11.68px black solid"></div>
  </div>
</div>